<form name="debateForm">
  <label>Create a label</label>
  <input type="text"
      placeholder="title"
      data-ng-model="debate.title" >
  <input type="text"
      placeholder="description"
      data-ng-model="debate.description" >
  <input type="text"
      placeholder="First Side"
      data-ng-model="debate.sides[0].title">
  <input type="text"
      placeholder="Second Side"
      data-ng-model="debate.sides[1].title" >
  <input type="submit" class="btn"
      ng-click="share(debate)" value="Debate">
</form>
<debate></debate>
