@import "consts";

body {
  color: $background-color;
}
.centered {
  float: none;
  margin: auto;
}
.box {
  border-radius: 5px;
  box-shadow: $shadow;
}
.neutral-color {
  background-color: $neutral-color;
}
.side-a-color {
  background-color: $left-color;
}
.side-b-color {
  background-color: $right-color;
}
.padded2 {
  padding: 2em;
}
.row {
  margin-bottom: 2em;
}
