<%# add navigation links to this file %>
<li><a href="#">Profile</a></li>
<li><a href="#">Settings</a></li>
<li class="divider"></li>
<li><a href="#">Start Debate</a></li>
<li><a href="#">Your debates</a></li>
